<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Registry</title>
    <link rel="stylesheet" href="/css/style.css" />
    {{!-- <link
      rel="stylesheet"
      type="text/css"
      href="/Project-2/public/css/login.css"
    /> --}}
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </head>

  <body class="login-body" style="border: 2px solid red">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        GET FIT
      </h1>
      {{#if logged_in}}
        <nav>
          <a href="/login">
          <button id="login">logout</button>
          </a>
        </nav>
        {{else}}
        <nav>
          <button class="btn" id="login">Login</button>
        </nav>
      {{/if}}
    </header>
    <main class="container container-fluid mt-5">
      {{{body}}}
    </main>
    <footer>

    </footer>

    {{!-- {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}} --}}
  </body>
</html>
