 <div class="card text-center" id="quote-area">
        <div class="card-body" id="quote-card">
        <h5 class="card-title" id="intro-font">GET FIT</h5>
        <h3>Did a motivational quote ignite your inner drive before your workout? Now, unleash that same inspiration to uplift others. Share your own unique quote here and empower others to ignite their day with renewed energy!</h3>
        {{!-- <form action="/" method="POST"> --}}
        {{!-- <div class ="form-group"> --}}
        <input type="text" id="quote-input" placeholder= "Write here">
         <button onclick="saveQuote()" id="save-button">Save</button>
         </div>
          </div>
          </div>
        </form>


        {{!-- <h2>Hear this...</h2> --}}
        {{!-- {{#each quotes as |quote|}} --}}
        {{!-- <div id="quotebody" class="card mb-3">
            <blockquote class="quote">
                <p class="quote-text"></p>
            </blockquote>
        </div> --}}
    {{!-- <div class="card-body" id="quote-card">
        <h6 class="card-title" id="intro-font2">COOLDOWN</h6>
        <h2>Description:</h2> --}}
        {{!-- {{#each quotes as |quote|}} --}}
       {{!-- /
        </div> --}}
        {{!-- {{/each}} --}}
    {{!-- </div>
</div> --}} 

{{!-- {{#each exercises}} --}}
<div class="justify-content-between" id="warmup">
    <div class="row align-items-center ">
        <div class="col">
            <div class="card bg-info">
                <div class="card-body" id="warmup-card">
                    <h5 class="card-title one" id="titleone"></h5>
                    <p class="card-text" id="workout-des1"></p>
                    <img src="/images/walk.jpeg" alt="women doing treadmill">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-info">
                <div class="card-body" id="warmup-card">
                    <h5 class="card-title" id="titletwo" ></h5>
                    <p class="card-text" id="workout-des2"></p>
                    <img src="/images/roll.jpeg" alt="man rolling">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-info">
                <div class="card-body" id="warmup-card">
                    <h5 class="card-title three" id="titlethree" ></h5>
                    <p class="card-text" id="workout-des3"></p>
                    <img src="/images/stretch.jpeg" alt="women stretching">
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<footer>
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn" type="button" id="back-to-option">Have it again?!</button>
    </div>
</footer>
<script src="./js/cooldown.js"></script>