<section class="form my-4 mx-5" id="form-color">
<h1 class="title">What Is GetFit?</h1>
  <p>Workout should be easy and accessible for everyone. With [App Name], you can easily track your workouts, set goals, and stay motivated on your fitness journey.

Whether you're a beginner or a fitness enthusiast, [App Name] is the perfect app to help you reach your goals. Sign up now and start your fitness journey today!"


For best result make sure you have a gym membership, comfortable workout clothes and shoes,basic fitness equipment and, of course, a willingness to commit to your fitness journey.
</p>
  </section>