{{! <section class="form my-4 mx-5" id="form-color">
  <h1 class="title">What Is GetFit?</h1>
  <p>Workout should be easy and accessible for everyone. With [App Name], you
    can easily track your workouts, set goals, and stay motivated on your
    fitness journey. Whether you're a beginner or a fitness enthusiast, [App
    Name] is the perfect app to help you reach your goals. Sign up now and start
    your fitness journey today!" For best result make sure you have a gym
    membership, comfortable workout clothes and shoes,basic fitness equipment
    and, of course, a willingness to commit to your fitness journey.
  </p>
</section> }}
<div class="card text-center" id="form-color">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title" id="intro-font">GET FIT</h5>
    <p class="card-text">
      <a id="getfit-title">What is GetFit?</a>
      <br />
      Workout should be easy and accessible for everyone. With GetFit, you can
      easily track your workouts, set goals, and stay motivated on your fitness
      journey. Whether you're a beginner or a fitness enthusiast, GetFit is the
      perfect app to help you reach your goals. Sign up now and start your
      fitness journey today!" For best result make sure you have a gym
      membership, comfortable workout clothes and shoes,basic fitness equipment
      and, of course, a willingness to commit to your fitness journey.</p>
    {{! <a href="#" class="btn btn-primary">Go somewhere</a> }}
    {{! <img src="images/GetFitLogo.png" class="img-fluid" alt="..." /> }}
  </div>
  <div class="card-footer text-body-secondary">
  </div>
</div>
<section class="form my-4 mx-5" id="form-color">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-lg-6">
        <div class="col-lg-10 px-5 pt-5">
          <h1 class="font-weight-bold py-3" id="login-title">GetFit</h1>
          <h4>Sign Up!</h4>
          <form>
            <div class="form-row">
              <div class="col-lg-10">
                <input
                  type="email"
                  placeholder="Email-Address"
                  class="form-control my-3 p-4"
                />
              </div>
            </div>
            <div class="form-row">
              <div class="col-lg-10">
                <input
                  type="password"
                  placeholder="*******"
                  class="form-control my-3 p-4"
                />
              </div>
            </div>
            <div class="form-row">
              <div class="col-lg-10">
                <button
                  type="submit"
                  class="btn1 mt-3 mb-5 btn-color"
                  id="signup"
                >Signup</button>
              </div>
            </div>
            <p>Already have an account? <a href="#">Sign in here</a></p>
          </form>
        </div>
      </div>
      <div class="col-lg-6 px-5 pt-5">
        <h1 class="font-weight-bold py-3" id="login-title">GetFit</h1>
        <h4>Sign in to your account</h4>
        <form class="login-form">
          <div class="form-row">
            <div class="col-lg-7">
              <input
                type="email"
                placeholder="Email-Address"
                class="form-control my-3 p-4"
                id="email-login"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="col-lg-7">
              <input
                type="password"
                placeholder="*******"
                class="form-control my-3 p-4"
                id="password-login"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="col-lg-7">
              <button
                type="submit"
                class="btn1 mt-3 mb-5 btn-color"
                id="login"
              >Login</button>
            </div>
          </div>
          <a href="#">Forgot Password</a>
          <p>Dont have an account? <a href="#">Sign up</a></p>
        </form>
      </div>
    </div>
  </div>
</section>
<script src="./js/login.js"></script>