/* .background {
  background-color: #0d6efd;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.login-body {
  background-color: #7a9e9f;
}

#form-color {
  background-color: #eef5db;
}

#btn-color {
  background-color: #fe5f55;
}
.row {
  /* background-color: white; */
  border-radius: 3px;
  box-shadow: 12px 12px 22px grey;
}

img {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-top: 8rem;
}

.btn1 {
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

.btn1:hover {
  background: white;
  border: 1px solid;
  color: black;
}

#login-title {
  font-family: "Jost", sans-serif;
  /* font-family: 'Playfair Display SC', serif;
  font-family: 'PT Sans', sans-serif; ; */
}















































































/* abigail's section for workout page */
/* h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} */

image-wrapper{
  max-width: 100%;
  height: 17em;
  display: flex;
  justify-content: center;
}
img{
  max-width: 100%;
  max-height: 100%
}
@media screen and (min-width: 576px) {
  .carousel-inner{
    display: flex;
  }
  .carousel-item{
    display: block;
    margin-right: 0;
    flex: 0 0 calc(100%/3);
  }
}
.carousel-inner{
  padding: 1em;
}
.card{
  margin: 0 .5em;
}